:root {
    --codeblock-border-color: #272727;
    --codeblock-background: #373737;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

body {
    background-color: #303030;
    color: #eeeeee;

    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    margin: 20px;
}

.codeblock_api {
    width: fit-content;
    border: 1.5px solid var(--codeblock-border-color);
    border-radius: 10px;
    background-color: var(--codeblock-background);
    margin-top: 10px;
    margin-bottom: 10px;
}

pre:not(.codeblock_api_request)>code,
pre:not(.codeblock_api_response)>code,
pre:not(.notice_red)>code,
pre:not(.notice_yellow)>code,
pre:not(.notice_green)>code,
pre:not(.notice_gray)>code {
    display: block;
    width: fit-content;
    border: 1.5px solid var(--codeblock-border-color);
    border-radius: 10px;
    background-color: var(--codeblock-background);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
p>code,
li>code {
    width: fit-content;
    border: 1.5px solid var(--codeblock-border-color);
    border-radius: 7px;
    background-color: var(--codeblock-background);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
}
p:has(> code) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.codeblock_api > .codeblock_api_request {
    border-bottom: 1.5px solid var(--codeblock-border-color);
}

.codeblock_api_urlparam {
    color: #909090;
}

.codeblock_api_url {
    color: #909090;
}

.codeblock_api_request {
    padding: 10px;
}

.codeblock_api_response {
    padding: 10px;
}

.notice_red, .notice_yellow, .notice_green, .notice_orange, .notice_blue, .notice_gray, .notice_purple {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: fit-content;
    padding: 7px;
    backdrop-filter: blur(5px);
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.2em;
}
.notice_red {
    border: 1.2px solid #c35555;
    background: rgba(255, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(255, 0, 0, 0.3);
    color: #fda7a7;
    /* Add background gradient to put some white in bottom right corner as if reflection, top-left:red to whiter-red*/
    /*background: linear-gradient(135deg, rgba(255, 0, 0, 0.1) 50%, rgba(255, 100, 100, 0.25) 90%);*/
}
.notice_yellow {
    border: 1.2px solid #d7b65b;
    background: rgba(255, 255, 0, 0.1);
    box-shadow: 0 1px 2px rgba(255, 255, 0, 0.3);
    color: #f7f7a7;
    /* Add background gradient to put some white in bottom right corner as if reflection, top-left:yellow to whiter-yellow*/
    /*background: linear-gradient(135deg, rgba(255, 255, 0, 0.1) 50%, rgba(255, 255, 100, 0.25) 90%);*/
}
.notice_green {
    border: 1.2px solid #5bc355;
    background: rgba(0, 255, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 255, 0, 0.3);
    color: #a7fda7;
    /* Add background gradient to put some white in bottom right corner as if reflection, top-left:green to whiter-green*/
    /*background: linear-gradient(135deg, rgba(0, 255, 0, 0.1) 50%, rgba(100, 255, 100, 0.25) 90%);*/
}
.notice_orange {
    border: 1.2px solid #d7a55b;
    background: rgba(255, 165, 0, 0.1);
    box-shadow: 0 1px 2px rgba(255, 165, 0, 0.3);
    color: #f7d7a7;
    /* Add background gradient to put some white in bottom right corner as if reflection, top-left:orange to whiter-orange*/
    /*background: linear-gradient(135deg, rgba(255, 165, 0, 0.1) 50%, rgba(255, 200, 100, 0.25) 90%);*/
}
.notice_blue {
    border: 1.2px solid #5b9cd7;
    background: rgba(0, 165, 255, 0.1);
    box-shadow: 0 1px 2px rgba(0, 165, 255, 0.3);
    color: #a7dffa;
    /* Add background gradient to put some white in bottom right corner as if reflection, top-left:blue to whiter-blue*/
    /*background: linear-gradient(135deg, rgba(0, 165, 255, 0.1) 50%, rgba(100, 200, 255, 0.25) 90%);*/
}
.notice_gray {
    border: 1.2px solid #a0a0a0;
    background: rgba(200, 200, 200, 0.1);
    box-shadow: 0 1px 2px rgba(200, 200, 200, 0.3);
    color: #f7f7f7;
    /* Add background gradient to put some white in bottom right corner as if reflection, top-left:gray to whiter-gray*/
    /*background: linear-gradient(135deg, rgba(200, 200, 200, 0.1) 50%, rgba(220, 220, 220, 0.25) 90%);*/
}
.notice_purple {
    border: 1.2px solid #a55bd7;
    background: rgba(165, 0, 255, 0.1);
    box-shadow: 0 1px 2px rgba(165, 0, 255, 0.3);
    color: #d7a7fd;
    /* Add background gradient to put some white in bottom right corner as if reflection, top-left:purple to whiter-purple*/
    /*background: linear-gradient(135deg, rgba(165, 0, 255, 0.1) 50%, rgba(200, 100, 255, 0.25) 90%);*/
}

.copy-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.copy-btn > svg {
    width: 15px;
    height: 15px;
    color: white;
}

.copy-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.codeblock_wcopy {
    display: flex;
    flex-direction: row;
    position: relative;
}

p {
    font-weight: 400;
    font-style: normal;
}

i {
    font-weight: 400;
    font-style: italic;
}

b {
    font-weight: 500;
    font-style: normal;
}

li {
    margin-left: 1em;
}